﻿@{
    ViewBag.Title = "About STdb";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>STdb is a javascript program hosted by IIS, using a DB at CRS, protected by a separate login-only site.</p>
<p>The login-only site is hard-coded to reveal STdb URL for user IDs in AD Groups 'DST' and 'FBF_DataEase_Access'</p>
